{
  "title": "BaseViewModel",
  "content_file": "README.md",
  "include_index": true,
  "docco_files": "baseviewmodel.js",
  "header": "BaseViewModel",
  "subheader": "Backbone-style Knockout viewmodels",
  "background": "diagonal-noise",
  "github": "https://github.com/leesus/BaseViewModel",
  "output_folder": "./"
}